%nav.navbar.navbar-transparent.navbar-absolute
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => "#navigation-example", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Snagi" , root_path, class: "navbar-brand"
