- if controller_name == 'registrations' && params[:action] == "new"
  = render 'devise/registrations/form_new'
  %br/
- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
  = render 'devise/sessions/form_new'
  %br/
- if controller_name == "registrations" && params[:action] == "edit"
  = render 'devise/registrations/form_edit'
- if controller_name == "passwords" && params[:action] == "new"
  = render 'devise/passwords/form_new'
