- if controller_name == 'registrations' && params[:action] == "new"
  %h4= I18n.t(".sign_up")
- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
  %h4= I18n.t(".log_in")
- if controller_name == "registrations" && params[:action] == "edit"
  %h4= I18n.t(".edit_profile")
- if controller_name == "passwords" && params[:action] == "new"
  %h4= I18n.t(".forgot")
