.btn.btn-simple.btn-primary.btn-lg= link_to 'Disable', disable_user_user_path(user,user), method: :post 
.btn.btn-simple.btn-primary.btn-lg= link_to 'Delete', delete_user_user_path(user,user), method: :post,data: { confirm: 'Are you sure?' }