.header.header-filter{:style => "background-image: url(#{image_path( url )}"}
  .container
    .row
      .col-md-6
        %h1.title= I18n.t(".title")
        %h4= I18n.t(".lorem")
        %h4= I18n.t(".lorem")
