
.header.header-filter{:style => "background-image: url(#{image_path( url )}"}
  .container
    .row
      .col-md-6
        %h1.title Welcome to Snagi
        %h4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae vero quia, quae vel dignissimos cupiditate similique error at fuga voluptatibus, ratione facere accusamus in repellat, inventore saepe omnis sed corporis.
        %h4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates provident nisi soluta nam unde natus ea reiciendis, quaerat, ex, quas amet illum aperiam eligendi accusamus impedit nesciunt architecto culpa eum.