.wrapper
  = render "shared/wallpaper", url: 'wallpaper.jpg'
  .main.main-raised
    .container
      .section.text-center
        %h2.title= I18n.t(".list_user")
        .team
          .row
            - @users.each do |user|
              = render "shared/user", user: user
