= form_for [@user,@picture] do |f|
  .input-group.padding-group
    %span.input-group-addon
      %i.material-icons label
    =f.text_field :title, {class:"form-control", placeholder: I18n.t(".form_title"), autofocus: true}
  .input-group.padding-group
    %span.input-group-addon
      %i.material-icons info
    =f.text_field :description, {class:"form-control", placeholder: I18n.t(".form_description") }
  .input-group.padding-group
    %span.input-group-addon
      %i.material-icons attachment
    =f.file_field :image, {class:"form-control", placeholder: I18n.t(".image")}
    = image_tag @picture.image.url, class: "image-padding image-padding-max"
  .actions.text-center
    = f.submit I18n.t(".update"), {class:"btn btn-simple btn-primary btn-lg"}
